


/*BOTONES*/
/*  */
body{
    background: #efefef;
}
.cl-superior{
border-radius: 150px;
background: #e8e8e8;
box-shadow:  17px 17px 45px #949494,
             -17px -17px 45px #ffffff;
}
button{
border: none;
border-radius: 150px;
background: #e8e8e8;
box-shadow:  17px 17px 45px #949494,
             -17px -17px 45px #ffffff;
}